.ccc26_mini-grid {
    padding:64px 0px;
}
.ccc26_mini-grid ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:40px 20px;
    padding:0px;
    list-style-type: none;
}
.ccc26_mini-grid ul a {
    text-decoration: none;
}
.ccc26_mini-grid figure {
    aspect-ratio:1/1;
    overflow:hidden;
    border-radius: 50px;
}
.ccc26_mini-grid img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
}
.ccc26_mini-grid h2 {
    color: var(--color-pink);
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 28px;
    text-wrap: balance;
    padding-left: 32px;
    padding-top: 16px;
    margin:0px;
}
.ccc26_mini-grid ul div {
    color: var(--color-deep-blue);
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    text-decoration:none;
    padding-top:8px;
    padding-left: 32px;
}