.ccc26_video-embed iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
}
.ccc26_video-embed {
    border-radius: 32px;
    overflow: hidden;
    margin-block:32px;
}