
.ccc26_information-top {
    display: flex;
}
.ccc26_information-column {
    flex: 1;
}
.ccc26_information-column h2 {
    font-size: 32px;
    font-family: "zuume", sans-serif;
    font-weight: 700;
    padding: 24px 0px;
    line-height: 1;
    color:var(--color-deep-blue);
}
.ccc26_information-map {
	background-color: #ccc;
    overflow: hidden;
    border-radius: 64px;
    aspect-ratio: 1/1;
}
.ccc26_information-map img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.ccc26_information p {
    padding-bottom: 16px;
}
.ccc26_information p:last-child {
    padding-bottom: 0px;
}
.ccc26_pos-column-content {
	text-align:center;
	text-wrap:balance;
}