:root {
    /* Colours */
    --color-light: #ffffff;
	--color-dark: #000000;
	--color-yellow: #f2b71b;
	--color-pink: #ef4766;
	--color-purple:#982567;
	--color-light-blue: #527dbf;
	--color-deep-blue:#314a64;

    /* Structure */
	--max-width: 1480px;
}
.is-root-container {
    background:var(--color-light);
}
div[data-name="block_text_background_colour"] input[type="radio"]{
    display:none;
}
.color-swatch {
    width: 26px;
    height: 26px;
    display: inline-block;
    top: 0px;
    margin-right: 0px;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 1px 2px rgba(154, 154, 154, .4);
    box-shadow: 0px 0px 1px 2px rgba(154, 154, 154, .4);
}
.color-swatch:hover {
    -webkit-box-shadow: 0px 0px 1px 2px rgba(154, 154, 154);
    box-shadow: 0px 0px 1px 2px rgba(154, 154, 154);
    opacity: 1;
}
.selected .color-swatch {
    box-shadow: 0px 0px 1px 2px rgba(25,137,193,1);
    opacity: 1;
}dark
.color-swatch.dark {background-color:var(--color-dark);}
.color-swatch.light {background-color:var(--color-light);}
.color-swatch.yellow {background-color:var(--color-yellow);}
.color-swatch.pink {background-color:var(--color-pink);}
.color-swatch.purple {background-color:var(--color-purple);}
.color-swatch.light-blue {background-color:var(--color-light-blue);}
.color-swatch.deep-blue {background-color:var(--color-deep-blue);}