:root {
    /* Colours */
    --color-light: #ffffff;
	--color-dark: #000000;
	--color-yellow: #f2b71b;
	--color-pink: #ef4766;
	--color-purple:#982567;
	--color-light-blue: #527dbf;
	--color-deep-blue:#314a64;	

	/* Structure */
	--max-width: 1480px;
}
.ccc26_background-yellow {
	background-color:var(--color-yellow);
	color:var(--color-deep-blue);
}
.ccc26_background-pink {
	background-color:var(--color-pink);
	color:var(--color-light);
}
.ccc26_background-purple {
	background-color:var(--color-purple);
	color:var(--color-light);
}
.ccc26_background-deep-blue {
	background-color:var(--color-deep-blue);
	color:var(--color-light);
}
.editor-post-title__input {
    font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight:400;
}
/* 
 * Main column width
 * This changes it from the default 580px to 720px
 */
 .wp-block {
    max-width: 100%!important;
    font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight:400;
}
.wp-block[data-align="wide"] {
    max-width: 100%!important;
}
/* ------------------------------------------------
 Single Post RTE
------------------------------------------------ */
.single .ccc26_page-content {
	padding:32px 0px;
}
.single .ccc26_page-content > p {
	max-width: 860px;
    margin-inline: auto;
    padding: 0 16px 16px 16px;
}
.single .ccc26_page-content > p a,
.wp-block-list a {
	color: var(--color-pink);
	text-decoration:none;
}
.single .ccc26_page-content > p a:hover,
.wp-block-list a:hover {
	text-decoration:underline;
}
.single .ccc26_page-content > h1:first-child {
	color: var(--color-pink)!important;
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 40px;
    text-wrap: balance;
	max-width: 860px;
    margin-inline: auto;
    padding: 0 16px 32px 16px;
}
.wp-block-heading {
    max-width: 860px;
    margin-inline: auto;
    padding: 0 16px 16px 16px;
}
h1.wp-block-heading {
	color: var(--color-pink);
	font-family: "zuume", sans-serif;
	font-weight: 700;
	line-height: 1;
	font-size: 32px;
	text-wrap: balance;
}
h2.wp-block-heading {
	color: var(--color-deep-blue);
	font-family: "zuume", sans-serif;
	font-weight: 700;
	line-height: 1;
	font-size: 24px;
	text-wrap: balance;
}
h3.wp-block-heading {
	color: var(--color-deep-blue);
	font-size: 20px;
	text-wrap: balance;
}
h4.wp-block-heading,
h5.wp-block-heading,
h6.wp-block-heading {
	color: var(--color-deep-blue);
	font-size: 18px;
	text-wrap: balance;
}
figcaption.wp-element-caption {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.wp-block-image {
    max-width: 860px;
    margin-inline: auto;
    padding: 0 16px 16px 16px;
}
.wp-block-post-title {
    color: var(--color-pink) !important;
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 40px;
    text-wrap: balance;
    max-width: 860px;
    margin-inline: auto;
    padding: 0 16px 32px 16px;
}
.wp-block-list {
	max-width: 860px;
    margin-inline: auto;
    padding: 0 16px 16px 36px;
}
ul.wp-block-list {
	list-style-type: disc;
}
ol.wp-block-list {
	list-style-type: decimal;
}
/* ------------------------------------------------
 Carousel Grid
------------------------------------------------ */
.ccc26_carousel-grid-items ul {
	list-style-type:none;
	padding:0px;
}
.ccc26_carousel-grid h3 {
	margin:0px;
}
.ccc26_carousel-grid-items a {
	text-decoration:none;
}

/* ------------------------------------------------
 Forms
------------------------------------------------ */
form input[type="text"], 
form input[type="email"], 
form textarea, 
form select,
form button {
	padding:12px 24px;
	border-radius:50px;
	font-size:24px;
	font-family: "zuume", sans-serif;
	font-weight: 700;
	background-color:var(--color-light);
	color:var(--color-purple);
	border:none;
}
form button {
	font-size:32px;
	padding:8px 24px;
}
form input::placeholder,
form textarea::placeholder {
  opacity: 0.3;
  color: var(--color-purple);
}
button.ccc26_favourite-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: var(--color-light);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	margin:none;
	padding:none;
	border:none;
	cursor:pointer;
}
button.ccc26_favourite-button svg path {	
	fill: #ccc;
	transition: fill .3s ease;
}
button.ccc26_favourite-button:hover svg path {	
	fill: var(--color-pink);
}
.pagination {
	display: flex;
    gap: 8px;
	justify-content: center;
    padding-top: 64px;
}
.page-numbers {
    background-color: var(--color-purple);
    display: block;
    height: 48px;
    width: 48px;
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
	transition:background-color .3s ease-in-out;
}
.page-numbers.current,
.page-numbers:hover {
	background-color: var(--color-yellow);
}
span.page-numbers.dots {
    background-color: transparent;
    color: var(--color-purple);
}
a.prev.page-numbers,
a.next.page-numbers {
    width: 100%;
    max-width: 120px;
}