:root {
    /* Colours */
    --color-light: #ffffff;
	--color-dark: #000000;
	--color-yellow: #f2b71b;
	--color-pink: #ef4766;
	--color-purple:#982567;
	--color-light-blue: #527dbf;
	--color-deep-blue:#314a64;	

	/* Structure */
	--max-width: 1480px;
}
.ccc26_background-yellow {
	background-color:var(--color-yellow);
	color:var(--color-deep-blue);
}
.ccc26_background-pink {
	background-color:var(--color-pink);
	color:var(--color-light);
}
.ccc26_background-purple {
	background-color:var(--color-purple);
	color:var(--color-light);
}
.ccc26_background-deep-blue {
	background-color:var(--color-deep-blue);
	color:var(--color-light);
}
.editor-post-title__input {
    font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight:400;
}
/* 
 * Main column width
 * This changes it from the default 580px to 720px
 */
 .wp-block {
    max-width: 100%!important;
    font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight:400;
}
.wp-block[data-align="wide"] {
    max-width: 100%!important;
}

/* ------------------------------------------------
 Carousel Grid
------------------------------------------------ */
.ccc26_carousel-grid-items ul {
	list-style-type:none;
	padding:0px;
}
.ccc26_carousel-grid h3 {
	margin:0px;
}
.ccc26_carousel-grid-items a {
	text-decoration:none;
}

/* ------------------------------------------------
 Forms
------------------------------------------------ */
form input[type="text"], 
form input[type="email"], 
form textarea, 
form select,
form button {
	padding:12px 24px;
	border-radius:50px;
	font-size:24px;
	font-family: "zuume", sans-serif;
	font-weight: 700;
	background-color:var(--color-light);
	color:var(--color-purple);
	border:none;
}
form button {
	font-size:32px;
	padding:8px 24px;
}
form input::placeholder,
form textarea::placeholder {
  opacity: 0.3;
  color: var(--color-purple);
}