.ccc26_venue-info .ccc26_wrap {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.ccc26_venue-column.gallery {
    grid-column:1 / 8;
}
.ccc26_venue-column.gallery figure {
    aspect-ratio:1/1;
    border-radius: 64px;
    overflow: hidden;
}
.ccc26_venue-column.gallery img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
}
.ccc26_venue-column.gallery ul {
    display:flex;
    gap:20px;
    padding-top:30px;
}
.ccc26_venue-column.gallery ul li {
    flex:1;
}
.ccc26_venue-column.gallery ul figure {
    border-radius:32px;
}
.ccc26_venue-column.content {
    grid-column:9 / 17;
}
.ccc26_venue-column h2 {
    color: var(--color-pink);
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 32px;
    font-size: 40px;
    text-wrap: balance;
}
.ccc26_venue-content p:not(:last-of-type) {
    padding-bottom:16px;
}
.ccc26_venue-details {
    padding-top: 40px;
}
.ccc26_venue-column h3:before {
    content:">";
    display:inline-block;
    color: var(--color-pink);
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: .1;
    font-size: 68px;
    padding-right: 8px;
}
.ccc26_venue-column h3 {
    color: var(--color-deep-blue);
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 16px;
    font-size: 28px;
    text-wrap: balance;
    display:flex;
    align-items: center;
}
.ccc26_venue-detail-content {
    display:grid;
    transition:all .3s ease-in-out;
}
.ccc26_venue-detail-content.expanded {
    opacity:1;
    grid-template-rows:1fr;
}
.ccc26_venue-detail-content.collapsed {
    opacity:0;
    grid-template-rows:0fr;
}
.ccc26_venue-detail-content > div {
    overflow:hidden;
}
.ccc26_venue-detail-content-container {
    padding:0px 16px 32px 32px;
}