.ccc26_venue-info .ccc26_wrap {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding:64px 16px;
}
.ccc26_venue-column.gallery {
    grid-column:1 / 7;
}
.ccc26_venue-column.gallery figure {
    aspect-ratio:1/1;
    border-radius: 64px;
    overflow: hidden;
}
.ccc26_venue-column.gallery img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
}
.ccc26_venue-column.gallery ul {
    display:flex;
    gap:20px;
    padding-top:30px;
    padding-left:0px;
    margin:0px;
    list-style-type: none;
}
.ccc26_venue-column.gallery ul li {
    flex:1;
}
.ccc26_venue-column.gallery ul figure {
    border-radius:32px;
}
.ccc26_venue-column.content {
    grid-column:8 / 17;
}
.ccc26_venue-column h2 {
    color: var(--color-pink);
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 32px;
    font-size: 40px;
    text-wrap: balance;
}
.ccc26_venue-content p:not(:last-of-type) {
    padding-bottom:16px;
}
.ccc26_venue-details {
    padding-top: 40px;
}
.ccc26_details-chevron svg {
    width:22px;
    transition:rotate .3s ease-in-out;
}
.active .ccc26_details-chevron svg {
    rotate:90deg;
}
.ccc26_details-chevron svg path {
    fill: var(--color-pink);
}
.ccc26_details-title {
    padding-left:20px;
}
.ccc26_venue-column h3 {
    color: var(--color-deep-blue);
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 16px;
    font-size: 28px;
    text-wrap: balance;
    display:flex;
    align-items: center;
    margin:0px;
    cursor:pointer;
    transition:color .3s ease-in-out;
}
.ccc26_venue-column h3:hover,
.ccc26_venue-column h3.active {
    color:var(--color-pink);
}
.ccc26_venue-detail-content {
    display:grid;
    transition:all .3s ease-in-out;
}
.ccc26_venue-detail-content.expanded {
    opacity:1;
    grid-template-rows:1fr;
}
.ccc26_venue-detail-content.collapsed {
    opacity:0;
    grid-template-rows:0fr;
}
.ccc26_venue-detail-content > div {
    overflow:hidden;
}
.ccc26_venue-detail-content-container {
    padding:0px 16px 32px 42px;
}
.ccc26_venue-detail-content-container p:not(:last-of-type) {
    padding-bottom:16px;
}
.ccc26_venue-details ul {
    margin:0px;
    list-style-type: none;
    padding-left:0px;
}
.ccc26_opening-hours-note {
    border: 1px solid #000;
    padding: 16px;
    margin-top: 16px;
}
.ccc26_venue-location-parking {
    padding-top: 16px;
}
.ccc26_venue-location-parking a {
    border-radius: 100px;
    border: 1px solid var(--color-pink);
    padding: 4px 8px;
    display: inline-block;
    font-size: 14px;
    color: var(--color-light);
    text-decoration: none;
    transition: all .3s ease-in-out;
    text-align:center;
    background-color: var(--color-pink);
}
.ccc26_venue-location-parking a:hover {
    background-color: var(--color-deep-blue);
    border-color: var(--color-deep-blue);  
}
.ccc26_venue-location-nearby {
    padding-top: 16px;
}
.ccc26_venue-location-nearby ul {
    display: flex;
    gap: 8px;
}
.ccc26_venue-location-nearby li a {
    border-radius: 16px;
    border: 1px solid var(--color-pink);
    padding: 4px 8px;
    display: block;
    font-size: 14px;
    color: var(--color-light);
    text-decoration: none;
    transition: all .3s ease-in-out;
    text-align:center;
    background-color: var(--color-pink);
}
.ccc26_venue-location-nearby li a:hover {
    background-color: var(--color-deep-blue);
    border-color: var(--color-deep-blue);   
}
.ccc26_venue-location-nearby h4,
.ccc26_venue-location-parking h4 {
    font-family: "zuume", sans-serif;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 8px;
    font-size: 22px;
    text-wrap: balance;
}
.ccc26_venue-detail-content-container iframe {
    margin-top:32px;
}
.ccc26_venue-detail-content-container.contact a {
    color:var(--color-pink);
    text-decoration: none;
}
.ccc26_venue-detail-content-container.contact a:hover{
    text-decoration: underline;
}
.ccc26_venue-content > ul {
    list-style-type: disc;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
}

/* Opening Hours */
.ccc26_opening-hours-list {
    margin:0;
}
.ccc26_opening-hours-list li {
    display:flex;
}
.ccc26_opening-hours-list li .label,
.ccc26_opening-hours-list li .times {
    flex: 1;
}
.ccc26_opening-hours-list li .label {
    text-transform:capitalize;
}
.ccc26_opening-hours-list li .times span:last-child::before {
    content: "-";
    padding-right:4px;
}