/* ------------------------------------------------
 Carousel Grid
------------------------------------------------ */
.ccc26_carousel-grid {
	padding:64px 0px;
}
.ccc26_carousel-grid-items ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 16px;
}
.ccc26_carousel-grid header {
	text-align:center;
	padding-bottom:54px;
}
.ccc26_carousel-grid header h2 {
	font-family: "zuume", sans-serif;
	font-weight: 700;
	font-size:53px;
	line-height:1.1;
}
.ccc26_carousel-grid-intro {
	font-size:22px;
	text-wrap:balance;
}
.ccc26_carousel-grid figure {
	border:2px solid var(--color-light);
	aspect-ratio: 1/1;
	width:100%;
	max-width:100%;
	overflow:hidden;
	border-radius:32px;
	position:relative;
}
.ccc26_carousel-grid img {
	width:100%;
	height:100%;
	display:block;
	object-fit:cover;
}
.ccc26_carousel-grid h3 {
	font-size:32px;
	font-family: "zuume", sans-serif;
	font-weight: 700;
	padding:24px 0px;
	line-height: 1;
}
.ccc26_carousel-grid-items a {
	color:var(--color-deep-blue);
}
.ccc26_carousel-grid-items p {
	font-size:18px;
	font-family: "zuume", sans-serif;
	font-weight: 700;
}